---
import Layout from "../layouts/Layout.astro";
import Box from "../components/Box.svelte";
---

<Layout title="LemonjamesD">
	<main>
		<Box><p>Could not find that page: 404.</p></Box>
	</main>
</Layout>

<style lang="less">
	p {
		font-size: 7vw;
		text-align: center;
		margin: 1vh;
	}
</style>
