---
import Layout from "../layouts/Layout.astro";
import Meth from "../components/Meth.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<Meth />
	</main>
</Layout>

<style>
	html {
		background-color: grey;
	}
</style>
