---
import Layout from "../layouts/Layout.astro";
import Box from "../components/Box.svelte";
import TitleBar from "../components/TitleBar.svelte";
---

<Layout title="LemonjamesD">
	<main>
		<TitleBar />
		<Box>Hello World</Box>
	</main>
</Layout>

<style>
	html {
		background-color: grey;
	}
</style>
