---
import Layout from "../layouts/Layout.astro";
import Box from "../components/Box.svelte";
---

<Layout title="LemonjamesD">
	<main>
		<Box>
			Hello there, my name is Lemon. My pronouns are She/Her, I am a 16
			year-old trans girl who programs. I love Rust and I am currently
			working on a few things.
		</Box>
	</main>
</Layout>
