---
export interface Meth {}
---

<p>
	<ww>WW</ww>: <jesse>Jesse</jesse>! We need to make <blue>METH</blue>
	<jesse>Jesse</jesse>!
</p>
<style>
	blue {
		color: aqua;
	}
	ww {
		color: beige;
	}
	jesse {
		color: yellow;
	}
</style>
