---
import BlogLayout from "../../layouts/BlogLayout.astro";
---

<BlogLayout>
	This is the first blog on this website, and I just want to say that this
	website will probably look bad for a while, and maybe forever who knows. So
	please just bear with it I guess? Well other than that I am Lemon as stated
	in the about me part thingy. I play games and program mostly. I program a
	lot more than I play games though. I love rust and I am currently loving
	<a href="https://astro.build/">astro</a> as of writing this. I think that's all
	I have to say for now I will write more in the future maybe.
</BlogLayout>

<style lang="less">
	a {
		color: blue;
	}
</style>
