---
import TitleBar from "../components/TitleBar.svelte";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta content="LemonjamesD" property="og:title" />
		<meta content="Personal Website thingy." property="og:description" />
		<meta content="https://lemonjamesd.com" property="og:url" />
		<meta
			content="https://embed.com/public/lemonslice.png"
			property="og:image"
		/>
		<meta content="#FFF302" data-react-helmet="true" name="theme-color" />
	</head>
	<body>
		<TitleBar />
		<slot />
		<style is:global>
			.box-hover:hover {
				background: rgb(133, 141, 141);
				cursor: pointer;
			}
			html {
				background-color: grey;
			}

			a {
				color: currentColor;
				text-decoration: none;
			}
		</style>
	</body>
</html>
